html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  min-width: 310px;
  max-width: 100%; }

input, button {
  border: none; }
  input:focus, button:focus {
    outline: none; }

/* CONTENT STYLES
----------------- */
.container {
  width: 70%;
  min-width: 217px;
  margin: auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: #323C42; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6em;
  text-align: center; }

/* Form styles
-------------- */
form {
  overflow: hidden;
  text-align: center;
  border: 1px solid #DAEAEF; }
  form input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding: 10px;
    padding-top: 10px;
    font-size: 3em;
    color: #D0553E; }
    form input:last-child {
      margin-right: 0; }
  form button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    background-color: white;
    font-size: 4em;
    transition: .3s all ease; }
    form button:last-child {
      margin-right: 0; }
    form button:hover {
      color: #9DBDC6; }

/* Todo item styles
-------------------- */
ul {
  clear: both;
  list-style: none;
  padding: 0; }
  ul li {
    overflow: hidden;
    font-size: 2.3em;
    border: 1px solid #DAEAEF;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
    ul li:hover {
      border: 1px solid #9DBDC6; }
    ul li .circle {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #D0553E;
      background-color: #D0553E;
      float: left;
      position: relative;
      transition: .1s all ease; }
    ul li .circle:hover {
      background-color: #9DBDC6;
      border: 1px solid #9DBDC6; }
    ul li span {
      float: left;
      padding-left: 20px; }
    ul li .timestamp {
      float: right;
      font-size: .5em;
      color: #9DBDC6; }

/* Below list styles
-------------------- */
.bottom {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  clear: both;
  overflow: hidden; }
  .bottom div {
    display: inline-block;
    float: left; }
  .bottom .counter {
    font-size: .8em;
    margin: 15px;
    float: left; }
  .bottom .sorting {
    margin-left: 40px; }
    .bottom .sorting .sortBtn {
      border: 1px solid #DAEAEF;
      border-radius: 4px;
      padding: 5px;
      margin: 10px; }
      .bottom .sorting .sortBtn:hover {
        cursor: pointer;
        border: 1px solid #9DBDC6; }
    .bottom .sorting .sorted {
      background-color: #DAEAEF; }
  .bottom button {
    float: right;
    background-color: #323C42;
    border: 1px solid #323C42;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 4px;
    transition: .3s all ease; }
    .bottom button:hover {
      background-color: #D0553E;
      border: 1px solid #D0553E; }

/* style for completed items - class added through JS
----------------------------------------------------- */
.complete .circle {
  border: 1px solid #DAEAEF;
  background-color: white; }

.complete .circle:hover {
  background-color: white;
  border: 1px solid #9DBDC6; }

.complete .circle::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f00c";
  color: #9DBDC6;
  font-size: 1.6em;
  bottom: 13px;
  left: -1px;
  height: 80%; }

@media screen and (min-width: 310px) and (max-width: 600px) {
  body {
    min-width: 310px; }
  h1 {
    font-size: 5em; }
  form input {
    font-size: 2em; }
  form button {
    font-size: 3em; }
  ul li {
    font-size: 2em; }
    ul li .circle {
      height: 25px;
      width: 25px; }
      ul li .circle::before {
        bottom: 15px;
        left: 0px;
        height: 65%; }
    ul li .timestamp {
      width: 42%; }
  .bottom .counter {
    display: block;
    width: 100%;
    margin: 0px; }
  .bottom .sorting {
    display: block;
    margin-left: 0;
    width: 100%;
    margin: auto; }
    .bottom .sorting .sortBtn {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-top: 10px; }
  .bottom button {
    display: block;
    width: 100%;
    margin-top: 10px; } }

@media screen and (min-width: 600px) and (max-width: 810px) {
  .bottom .counter {
    display: block;
    width: 100%;
    margin: 0px; }
  .bottom .sorting {
    display: block;
    margin-left: 0;
    width: 100%;
    margin: auto; }
    .bottom .sorting .sortBtn {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0;
      margin-top: 10px; }
  .bottom button {
    display: block;
    width: 100%;
    margin-top: 10px; } }
