@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";


$playfair: "Playfair Display", serif;
$opensans: "Open Sans", sans-serif;
$opensanscon: "Open Sans Condensed", sans-serif;

$grey: #DAEAEF;
$red: #D0553E;
$lightgrey : #FFFFFF;
$lightblue: #9DBDC6;
$darkblue: #323C42;


@mixin border($color) {
  border: 1px solid $color;
}


/* GLOBAL STYLES
---------------- */

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  width: 100%;
  font-family: $opensans;
}

input, button {
  border: none;

  &:focus {
    outline: none;
  }

}

/* CONTENT STYLES
----------------- */

.container {
  width: 70%;
  margin: auto;
  @include outer-container;
  color: $darkblue;

}


h1 {
  font-family: $playfair;
  font-size: 6em;
  text-align: center;
}

form {
  overflow: hidden;
  text-align: center;
  @include border($grey);


  input {
    @include span-columns(10);
    padding: 10px;
    padding-top: 10px;
    font-size: 3em;
  }
  button {
    @include span-columns(2);
    background-color: white;
    font-size: 4em;

    &:hover {
    color: $lightblue;

  }


  }
}

ul {
  clear: both;
  list-style: none;
  padding: 0;

  li {
    overflow: hidden;
    font-size: 2.3em;
    @include border($grey);
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;

    .circle {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      @include border($red);
      background-color: $red;
      float: left;
      position: relative;
    }

    .circle:hover {
      background-color: $lightblue;
      @include border($lightblue);
    }

    span {
      float: left;
      padding-left: 20px;
    }

  }
}

.bottom {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  clear: both;

  button {
    float: right;
  }
}

.complete {

  .circle {
    @include border($grey);
    background-color: white;
  }

  .circle:hover {
    background-color: white;
    @include border($lightblue);
  }

  .circle::before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f00c";
    color: $lightblue;
    font-size: 1.6em;
    bottom: 13px;
    left: -1px;
    height: 80%;
  }
}
